@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .main-container { 
    padding: 17px;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-search {
    margin: 0;
    width: 100%;
    padding: 10px 0;
  }

  .search-container {
    width: 100%;
  }

  .slider {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }

  .content {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .image {
    max-width: 50%;
  }

  .slider h1 {
    font-size: 28px;
  }

  .slider p {
    font-size: 14px;
  }

  .search-input {
    width: calc(100% - 20px);
    margin: 0 10px;
  }

  .mobile-navbar {
    display: block;
  }

  .more-container {
    grid-template-columns: repeat(1, 1fr); 
  }

  .categories-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .features-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 1200px) {

  .more-container {
    grid-template-columns: repeat(4, 1fr); 
  }

  .features-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {

  .more-container {
    grid-template-columns: repeat(1, 1fr); 
  }

  .features-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .slider {
    padding: 20px; 
    flex-direction: column; 
    align-items: center;

  }
  
  .slider h1 {
    font-size: 30px; 
    text-align: center; 
  }
  
  .slider p {
    font-size: 14px; 
    text-align: center; 
    text-wrap: balance;
  }
  
  button {
    padding: 8px 16px; 
  }
  
.prev, .next { 
  padding: 5px 10px; 
}


  .content {
    margin-bottom: 20px; 
  }
  
  .image {
    padding-top: 30px;
    max-width: 50%; 
  }
  
  .sidebar {
    display: none;
  }

  .newsletter-section .text-content h2 {
    font-size: 20px;
  }

  .newsletter-section .text-content p {
    font-size: 12px;
  }
  .promise-text {
    font-size: 12px;
  }

  .product-section{
    padding: 10px;
  }

  .product-description {
    padding: 10px;
  }

  .tab-content {
    padding: 10px;
  }

  .main-container { 
    padding: 20px;
  }

}
